.site_header {
    width: 100%;
    height: 100vh;
    background: #0f8a9d;
    background: linear-gradient(45deg, #ff0081, #6827b0);
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);*/
    border-radius: 0 0 140% 140%/0 0 70% 70%;
}

@media screen and (max-width: 375px){

    .site_header{
        width: 148%;
    }
}

@media screen and (max-width: 414px){

    .site_header{
        width: 155%;
    }
}

@media screen and (max-width: 320px){

    .site_header{
        width: 175% !important;
        height: 120vh;
    }
}

@media screen and (max-width: 360px){

    .site_header{
        width: 158%;
        height: 121vh;
    }
}

nav{
    width: 100%; height: 100px;
    /*background-color:  red;*/
    display: flex; color: white;
    
}

.logo{
    width: 50%;
    height: 100px;
}

.logo h1{
    line-height: 100px;
    padding-left: 50px;
    font-size: 23px;
}

.menu{
    width: 50%; height: 100px;
}

.menu ul{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}

.menu ul li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

section{
    display: flex;
}

.left_side { width: 45%; height: auto; overflow: hidden; margin-top: 20px;}

.left_side img{  width: 600px;  height: 500px; }

@media screen and (max-width: 375px){

    .left_side img{
        width: 400px;  
        height: 300px;
        margin-top: 10vh;
    }
}

@media screen and (max-width: 414px){

    .left_side img{
        width: 400px;  
        height: 300px;
        margin-top: 10vh;
    }
}

.right_side{ width: 55%; height: 300px; color: white; text-align: center; margin-top: 80px; padding: 40px;}

@media screen and (max-width: 375px){

    .right_side h1 p button{
        
        right: 20vh;
    }
}

.right_side h1{ text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-weight: 900;
    text-shadow: -10px 10px 20px rgba(0, 0, 0, .3);
    text-transform: uppercase; } 

.right_side p {  
    font-size: 1.1rem; padding: 30px 0;
    text-shadow: -10px 10px 20px rgba(0, 0, 0, .4);
}

.right_side button{   font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ff0081, #6827b0);
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}